* {
   padding: 0;
   margin: 0;
}
body {
   font-family: "Nunito Sans", sans-serif;
}
.main {
   background: linear-gradient(180deg, #0c4c7b -100%, #1e2f40 100%);
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.main__container {
}
.container {
   max-width: 1920px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   padding: 0px 15px;
}
@media (max-width: 770px) {
   .container {
      display: block;
   }
}
.text {
   margin: 170px 0px;
   flex: 0 0 50%;
}
@media (max-width: 770px) {
   .text {
      margin: 50px 0px;
   }
}
span {
   font-weight: bold;
   font-size: 30px;
   line-height: 127%;
   text-transform: uppercase;
   color: #fbb731;
   margin-bottom: 50px;
}
@media (max-width: 1250px) {
   span {
      margin: calc(2px + (50 - 2) * ((100vw - 320px) / (1250 - 320)));
      font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1250 - 320)));
   }
}
h1 {
   font-weight: 800;
   font-size: 120px;
   line-height: 117%;
   text-transform: uppercase;
   color: #faf9f9;
   margin-bottom: 39px;
}
@media (max-width: 1250px) {
   h1 {
      margin: calc(2px + (39 - 2) * ((100vw - 320px) / (1305 - 320)));
      font-size: calc(30px + (120 - 30) * ((100vw - 320px) / (1250 - 320)));
   }
}
p {
   font-family: Lato;

   font-weight: normal;
   font-size: 19px;
   line-height: 140%;
   color: #dedede;
   margin-bottom: 42px;
}
@media (max-width: 1250px) {
   p {
      margin: calc(2px + (42 - 2) * ((100vw - 320px) / (1250 - 320)));
      font-size: calc(19px + (19 - 10) * ((100vw - 320px) / (1250 - 320)));
   }
}
a {
   font-weight: bold;
   font-size: 14px;
   line-height: 129%;
   text-align: center;
   text-transform: uppercase;
   color: #1e2f40;
   font-weight: bold;
   background: #fbb731;
   border-radius: 5px;
   padding: 20px 45px;
   text-decoration: none;
   display: inline-block;
}
@media (max-width: 1250px) {
   a {
      padding: calc(8px + (45 - 8) * ((100vw - 320px) / (1250 - 320)));
      font-size: calc(14px + (14 - 8) * ((100vw - 320px) / (1250 - 320)));
   }
}
.visual {
   flex-grow: 1;
   display: flex;
   justify-content: space-evenly;

   position: relative;
}
.bg {
   width: 400px;
   height: 100%;
   background: linear-gradient(2.42deg, #f37335 -19.6%, #fbb731 100.79%, #fdc830 100.79%);
   margin: 0px 0px 0px 30px;
}
.ibg {
   padding: 0px 0px 50% 0px;
}
.ibg img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   left: 0;
   top: 0;
}
